<section class="container mx-auto rounded h-auto bg-gray-900 p-4 flex justify-between shadow"
    [ngClass.xs]="{'flex-col': true, 'justify-center': true}">
    <div class="flex flex-col w-1/2" [ngClass.xs]="{'w-full': true}">
        <p class="text-white font-bold text-4xl">Welcome to Akatsuki Project</p>
        <p class="text-gray-400 text-base mt-2">Akatsuki Project is a social network for Carder / Binners users who try
            to
            sell
            their products or use Hacking
            tools with ease and with excellent results.</p>
        <p class="text-gray-400 text-base mt-2">We have a store where you can sell or buy products from certified seller
            users.
            Akatsuki Project and be able
            to use your purchased product for the purpose you want.</p>
        <p class="text-gray-400 text-base mt-2">We also have a variety of tools so you can get your Lives out of your
            Bin's
            and
            buy in th good results.</p>
        <div class="flex flex-row mt-2">
            <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mr-2">
                Support
            </button>
            <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded">
                Status
            </button>
        </div>
    </div>
    <img src="../../../assets/welcome/app_mobile.svg" alt="www.akatsukiapp.com" width="400" height="400"
        [ngClass.xs]="{'mt-4': true, 'justify-center': true, 'w-full': true}">
</section>
<div class="container mt-4" [ngClass.xs]="{'text-center': true, 'w-full': true}">
    <h1 class="text-white font-bold text-4xl">Features</h1>
</div>
<section class="container flex mt-4 justify-center w-full" [ngClass.xs]="{'flex-col': true, 'px-4': true}">
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-4" [ngClass.xs]="{'w-full': true, 'mb-4': true}">
        <img src="../../../assets/welcome/tools.svg" alt="www.akatsukiapp.com" width="150" height="150">
        <p class="font-bold text-white text-2xl">Tools</p>
        <p class="text-white text-sm">Quality tools so you can always get the best results quickly, easily and
            effectively.</p>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-4" [ngClass.xs]="{'w-full': true, 'mb-4': true}">
        <img src="../../../assets/welcome/messages.svg" alt="www.akatsukiapp.com" width="80" height="80">
        <p class="font-bold text-white text-2xl">Social</p>
        <p class="text-white text-sm">Talk to your coworkers easy and fast with encrypted point-to-point conversations.
        </p>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-4" [ngClass.xs]="{'w-full': true, 'mb-4': true}">
        <img src="../../../assets/welcome/market.svg" alt="www.akatsukiapp.com" width="150" height="150">
        <p class="font-bold text-white text-2xl">Marketplace</p>
        <p class="text-white text-sm">Sell ​​or buy any product you want in the store. Don't worry just they can sell
            certificates. :)</p>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-4" [ngClass.xs]="{'w-full': true, 'mb-4': true}">
        <img src="../../../assets/welcome/multiplatform.svg" alt="www.akatsukiapp.com" width="180" height="180">
        <p class="font-bold text-white text-2xl">Multi platform</p>
        <p class="text-white text-sm">We are a community that we are in both your PC and your mobile with our
            multiplatform applications.</p>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4" [ngClass.xs]="{'w-full': true, 'mb-4': true}">
        <img src="../../../assets/welcome/social.svg" alt="www.akatsukiapp.com" width="180" height="180">
        <p class="font-bold text-white text-2xl">Community</p>
        <p class="text-white text-sm">Post posts in the social section to say what you think, do surveys and more.</p>
    </div>
</section>
<div class="container mt-4" [ngClass.xs]="{'text-center': true, 'w-full': true}">
    <h1 class="text-white font-bold text-4xl">Memberships</h1>
</div>
<section class="container items-center justify-center mt-4 w-full flex flex-row" [ngClass.xs]="{'flex-col': true}">
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-6 text-center items-center"
        [ngClass.xs]="{'mb-2': true}" [ngStyle.xs]="{'margin-right': 0}">
        <img src="../../../assets/welcome/membership_free.svg" width="200" height="200" alt="www.akatsukiapp.com">
        <p class="font-bold text-white text-2xl mt-2">0 US$/mo</p>
        <p class="font-bold text-white text-2xl">Member free</p>
        <p class="text-gray-400 font-light text-base">Access to tools</p>
        <p class="text-gray-400 font-light text-base">Change profile picture</p>
        <p class="text-gray-400 font-light text-base">Change cover photo</p>
        <p class="text-gray-400 font-light text-base">Set specialty</p>
        <p class="text-gray-400 font-light text-base">Store Access</p>
        <p class="text-gray-400 font-light text-base">Access to the social area</p>
        <button class="bg-transparent border-gray-100 border text-white font-bold py-2 px-4 rounded mt-2 w-full">
            Register
        </button>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-6 text-center items-center"
        [ngClass.xs]="{'mb-2': true}" [ngStyle.xs]="{'margin-right': 0}">
        <img src="../../../assets/welcome/membership_star.svg" width="200" height="200" alt="www.akatsukiapp.com">
        <p class="font-bold text-white text-2xl mt-2">6.99 US$/mo</p>
        <p class="font-bold text-white text-2xl">Member free</p>
        <p class="text-gray-400 font-light text-base">GIF profile picture</p>
        <p class="text-gray-400 font-light text-base">Access to premium tools</p>
        <p class="text-gray-400 font-light text-base">500 Tachi reward on your first purchase</p>
        <p class="text-gray-400 font-light text-base">Set public offer on your profile</p>
        <p class="text-gray-400 font-light text-base">Ad free</p>
        <p class="text-gray-400 font-light text-base">Golden Name</p>
        <p class="text-gray-400 font-light text-base">All free membership</p>
        <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mt-2 w-full">
            Buy
        </button>
    </div>
    <div class="bg-gray-900 rounded shadow w-64 flex flex-col p-4 mr-6 text-center items-center"
        [ngStyle.xs]="{'margin-right': 0}">
        <img src="../../../assets/welcome/membership_anonymous.svg" width="200" height="200" alt="www.akatsukiapp.com">
        <p class="font-bold text-white text-2xl mt-2">0 US$/mo</p>
        <p class="font-bold text-white text-2xl">Anonymous</p>
        <p class="text-gray-400 font-light text-base">Store Access</p>
        <button
            class="bg-transparent border-gray-100 border hover:bg-gray-200 text-white font-bold py-2 px-4 rounded mt-2 w-full">
            Register
        </button>
    </div>
</section>
<div class="container mt-4" [ngClass.xs]="{'text-center': true, 'w-full': true}">
    <h1 class="text-white font-bold text-4xl">Frequent questions</h1>
</div>
<section class="w-full p-10 flex flex-row justify-center items-center" [ngClass.xs]="{'flex-col': true}">
    <img src="../../../assets/welcome/status.svg" alt="www.akatsukiapp.com" width="400" height="400">
    <div class="flex flex-col ml-20">
        <p class="font-bold text-white text-4xl">Are the servers stable?</p>
        <p class="text-white text-lg mt-4">We have backup servers in case one stops working so you can always have the
            best experience in Akatsuki Project.</p>
        <p class="text-white text-lg mt-4">You can check how are the status of servers, tools, store and social area at
            any time from the "API Status" page.</p>
        <p class="text-white text-lg mt-4">Remember that you can help us report any errors that the platform has to
            resolve it as soon as possible and that we can always be 100%.</p>
    </div>
</section>
<section class="w-full p-10 flex flex-row justify-center items-center" [ngClass.xs]="{'flex-col': true}">
    <div class="flex flex-col ml-20">
        <p class="font-bold text-white text-4xl">Is the market safe?</p>
        <p class="text-white text-lg mt-4">We try to always keep the store safe from scams and deceptions, so all
            sellers in Akatsuki Project are identified with a certification badge that is only granted by the
            administration,</p>
        <p class="text-white text-lg mt-4">No user without the rank of Seller may sell at a user's store.</p>
        <p class="text-white text-lg mt-4">If you find a scammer, do not hesitate to report it to suspend the user of
            all Akatsuki Project services.</p>
    </div>
    <img src="../../../assets/welcome/market_empty.svg" alt="www.akatsukiapp.com" width="400" height="400">
</section>
<section class="w-full p-10 flex flex-row justify-center items-center" [ngClass.xs]="{'flex-col': true}">
    <img src="../../../assets/welcome/content_creator.svg" alt="www.akatsukiapp.com" width="400" height="400">
    <div class="flex flex-col ml-20">
        <p class="font-bold text-white text-4xl">Is Premium membership necessary?</p>
        <p class="text-white text-lg mt-4">No, Premium membership is optional and you can use Akatsuki Project without
            No problem or limitation that prevents you from using it normally.</p>
        <p class="text-white text-lg mt-4">Premium membership has the function of being able to grant exclusive access
            to characteristics of the platform, as explained above in a table.</p>
        <p class="text-white text-lg mt-4">Free users are also welcome. :)</p>
    </div>
</section>
<section class="container mx-auto rounded h-auto bg-gray-900 p-4 flex justify-between shadow items-end"
    [ngClass.xs]="{'flex-col': true, 'justify-center': true}">
    <div class="flex flex-col w-1/2" [ngClass.xs]="{'w-full': true}">
        <p class="font-bold text-white text-2xl">Mobile apps</p>
        <p class="text-gray-400 text-base mt-2">You can download our applications for Android, IOS (Coming soon and
            Windows desktop application right here. We try to keep all clients synchronized so you can get the best
            experience in each of them.</p>
        <p class="text-gray-400 text-base mt-2">We have different clients and not only a universal application because
            for us the native is better, so that each client is made natively, so that some functions may arrive first
            in the web version for example before in the other clients .</p>
    </div>
    <div class="flex flex-row mt-4" [ngClass.xs]="{'justify-between': true, 'w-full': true}" fxHide.sm="true"
        fxHide.xl="true" fxHide.lg="true" fxHide.md="true">
        <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mr-2">
            Android
        </button>
        <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mr-2">
            AppStore
        </button>
        <button class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded">
            Windows Store
        </button>
    </div>
    <div class="flex flex-col" fxHide.xs="true">
        <img src="../../../assets/welcome/google-play.png" alt="www.akatsukiapp.com" width="160" height="120"
            [ngStyle.xs]="{'width': '100px', 'height': '50px'}">
        <img class="mt-5" src="../../../assets/welcome/app-store.png" alt="www.akatsukiapp.com" width="160" height="120"
            [ngStyle.xs]="{'width': '100px', 'height': '50px'}">
        <img class="mt-5" src="../../../assets/welcome/windows.png" alt="www.akatsukiapp.com" width="160" height="120"
            [ngStyle.xs]="{'width': '100px', 'height': '50px'}">
    </div>
</section>