<div class="flex flex-col container mx-auto">
    <div class="carousel-inner relative overflow-hidden w-full rounded-lg">
        <!--Slide 1-->
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
            checked="checked">
        <div class="carousel-item absolute opacity-0" style="height:50vh;">
            <div class="block h-full w-full text-white text-5xl text-center" style="background-image: url('../../../../assets/placeholders/cover.jpg'); background-size: cover;
                background-repeat: no-repeat;
                background-position: center;"></div>
        </div>
        <label for="carousel-3"
            class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-2"
            class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!--Slide 2-->
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0" style="height:50vh;">
            <div class="block h-full w-full bg-orange-500 text-white text-5xl text-center" style="background-image: url('../../../../assets/placeholders/cover.jpg');  background-size: cover;
            background-repeat: no-repeat;
            background-position: center;"></div>
        </div>
        <label for="carousel-1"
            class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-3"
            class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!--Slide 3-->
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0" style="height:50vh;">
            <div class="block h-full w-full bg-green-500 text-white text-5xl text-center" style="background-image: url('../../../../assets/placeholders/cover.jpg');  background-size: cover;
            background-repeat: no-repeat;
            background-position: center;"></div>
        </div>

        <!-- Controlls -->
        <label for="carousel-2"
            class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
        <label for="carousel-1"
            class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

        <!-- Add additional indicators for each slide-->
        <ol class="carousel-indicators">
            <li class="inline-block mr-3">
                <label for="carousel-1"
                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-2"
                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-3"
                    class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
        </ol>
    </div>
    <div class="flex-row flex mt-5" [ngClass.xs]="{'flex-col': true}">
        <div class="mr-6 w-1/5">
            <div class="bg-gray-900 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <p class="text-white font-bold mr-2">
                        Categories
                    </p>
                    <div class="border border-gray-700 w-full h-px"></div>
                </div>
                <ul class="mb-3">
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a [routerLink]="[ '/marketplace/home' ]" [routerLinkActive]="'link-active'"
                            class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="ant-design:home-filled" data-inline="false"></span>
                            <span class="ml-2">Home</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="el:shopping-cart" data-inline="false"></span>
                            <span class="ml-2">New products</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="octicon:flame" data-inline="false"></span>
                            <span class="ml-2">But sold</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="emojione:glowing-star" data-inline="false"></span>
                            <span class="ml-2">Galaxy Products</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bg-gray-900 p-3 mt-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <p class="text-white font-bold mr-2">
                        Markets
                    </p>
                    <div class="border border-gray-700 w-full h-px"></div>
                </div>
                <ul class="mb-3">
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="mdi:account-box-multiple"
                                data-inline="false"></span>
                            <span class="ml-2">Accounts</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="ic:sharp-account-tree" data-inline="false"></span>
                            <span class="ml-2">Methods</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="bx:bxs-book-bookmark" data-inline="false"></span>
                            <span class="ml-2">Guides</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="mdi:netflix" data-inline="false"></span>
                            <span class="ml-2">Bin's</span>
                        </a>
                    </li>
                    <li class="bg-gray-800 text-gray-500 hover:text-gray-200 hover:bg-gray-700 rounded">
                        <a href="#" class="flex items-center my-2 px-2 py-1">
                            <span class="iconify text-xl" data-icon="fa-solid:credit-card" data-inline="false"></span>
                            <span class="ml-2">CC's (Soon)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bg-gray-900 p-3 mt-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <p class="text-white font-bold mr-2">
                        Sellers Top
                    </p>
                    <div class="border border-gray-700 w-full h-px"></div>
                </div>
                <ul>
                    <li class="flex flex-row mt-2" *ngFor="let seller of bestSellersMarket">
                        <img class="rounded-full mr-2 h-10 w-10" [src]="seller.photo" alt="www.akatsukiapp.com">
                        <div class="flex flex-col">
                            <h3 class="font-light text-sm text-white">
                                {{ seller.username }}
                            </h3>
                            <p class="text-sm text-white">
                                Reputation total: {{ seller.stats.rep }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-4/5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>