<ng-sidebar-container style="height: 100vh;">
    <ng-sidebar [(opened)]="_opened" (onBackdropClicked)="_toggleSidebar()" keyClose="true" closeOnClickOutside="true"
        closeOnClickBackdrop="true" showBackdrop="true" animate="true" [sidebarClass]="'flex flex-col bg-gray-900'">
        <p class="text-white font-medium m-1">Ayuda</p>
        <div class="border border-gray-600"></div>
        <button
            class="text-sm hover:bg-blue-700 text-blue-400 font-semibold py-2 px-4 rounded shadow m-1 text-left w-64">Community
            Principles</button>
        <button
            class="text-sm hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow m-1 text-left w-64">Terms
            and
            Conditions</button>
        <button
            class="text-sm hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow m-1 text-left w-64">Privacy
            Policy</button>
    </ng-sidebar>

    <div ng-sidebar-content>
        <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-5 fixed w-full">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <button fxHide fxShow.xs="true" (click)="_toggleSidebar()"
                    class="bg-gray-700 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded shadow mr-4">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
                <a [routerLink]="[ '/welcome' ]"><img class="fill-current h-8 w-8 mr-2" width="54" height="54"
                        src="../assets/logo-white.svg" alt="www.akatsukiapp.com"></a>
                <span class="font-semibold text-xl tracking-tight">Akatsuki
                    Project</span>
            </div>
            <div class="w-64 block flex-grow lg:flex lg:items-center lg:w-auto" fxHide.xs="true">
                <div class="text-sm lg:flex-grow">
                    <button class="bg-gray-700 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded shadow mr-4"
                        [routerLink]="[ '/sign-in' ]">My account</button>
                </div>
                <div class="relative text-gray-600 mr-4 w-1/2">
                    <input type="search" placeholder="Tell us what you would like to look for..."
                        class="appearance-none block w-full bg-gray-700 text-white rounded py-2 pr-8 pl-2 leading-tight focus:outline-none focus:bg-gray-800">
                    <button type=" submit" class="absolute right-0 top-0 mt-3 mr-4">
                        <span class="iconify" data-icon="bx:bx-search-alt" data-inline="false"></span>
                    </button>
                </div>
                <div fxHide fxShow.lg="true" class="flex flex-row items-center">
                    <a href="https://www.discordapp.com" target="_blank" rel="noopener noreferrer"><span
                            class="iconify text-3xl mr-3" data-icon="fa-brands:discord" data-inline="false"></span></a>
                    <a href="https://www.play.google.com" target="_blank" rel="noopener noreferrer"><span
                            class="iconify text-3xl mr-3" data-icon="cib:google-play" data-inline="false"></span></a>
                </div>
            </div>
        </nav>
        <div class="mb-4 pt-24">
            <router-outlet></router-outlet>
        </div>
        <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-4 px-6">
            <div class="flex items-start flex-col flex-shrink-0 text-white mr-6 text-xs">
                <p>All rights reserved 2020 | Akatsuki Team</p>
                <p>Web client - 1.0.0.</p>
            </div>
            <div fxHide.xs="true" class="flex flex-row items-center">
                <p class="text-white text-base mr-2 font-bold">Select language</p>
                <select
                    class="block appearance-none w-32 bg-gray-700 border border-gray-600 text-white py-1 px-2 rounded leading-tight focus:outline-none focus:bg-gray-800 focus:border-gray-700"
                    (change)="changeLang($event.target.value)">
                    <option *ngFor="let lang of langs" [value]="lang" class="text-center">{{ lang }}</option>
                </select>
            </div>
        </nav>
    </div>
</ng-sidebar-container>