<div class="container flex flex-row" [ngClass.xs]="{'flex-col': true}">
    <div class="p-64 mr-6 bg-signin w-3/4 rounded-lg" [ngStyle.xs]="{'width': '100%', 'height': '0%'}" fxHide.xs="true">
    </div>
    <img src="../../../../assets/sign-up/background-sign-up.jpg" alt="www.akatsukiapp.com" height="100%" width="100%"
        fxHide.md="true" fxHide.lg="true" fxHide.xl="true">
    <div class="w-4/12 bg-gray-900 rounded h-full items-center justify-center flex flex-col p-3"
        [ngClass.xs]="{'w-full': true}">
        <div class="flex flex-col items-start p-3">
            <p class="text-white font-light text-4xl">{{ 'Pages.SignUp.title.lets_join' | translate }}
            </p>
            <p class="text-white">{{ 'Pages.SignUp.description.lets_join' | translate }}</p>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()" class="w-full p-3">
            <div *ngIf="errorSignUp"
                class="bg-red-500 border-t-4 border-red-800 rounded-b text-red-900 px-4 py-3 shadow-md mb-2"
                role="alert">
                <div class="flex">
                    <div class="py-1"><svg class="fill-current h-6 w-6 text-red-800 mr-4"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                        </svg></div>
                    <div>
                        <p class="font-bold">{{ errorSignUpTitle }}</p>
                        <p class="text-sm">{{ errorSignUpDescription }}</p>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.name' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="name"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                focus:outline-none focus:bg-gray-800" type="text" placeholder="Sawako" #inputName>
                <div class="text-right w-full">
                    <p class="text-gray-500 text-xs italic">{{ inputName.value?.length || 0 }}/30 (min 5)</p>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.username' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="username"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                focus:outline-none focus:bg-gray-800" type="text" placeholder="@myusername" #inputUsername>
                <div class="text-right w-full">
                    <p class="text-gray-500 text-xs italic">{{ inputUsername.value?.length || 0 }}/15 (min 5)</p>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.specialty' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="specialty"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                focus:outline-none focus:bg-gray-800" type="text" placeholder="Carder and binner..." #inputSpecialty>
                <div class="text-right w-full">
                    <p class="text-gray-500 text-xs italic">{{ inputSpecialty.value?.length  || 0 }}/100 (min 10)</p>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.email' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="email"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                focus:outline-none focus:bg-gray-800" type="email" placeholder="yourname@akatsukiapp.com"
                    autocomplete="username">
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.password' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="password"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}"
                    class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-800"
                    type="password" placeholder="**********" autocomplete="new-password" #inputPassword>
                <div class="text-right w-full">
                    <p class="text-gray-500 text-xs italic">{{ inputPassword.value?.length  || 0 }}/20 (min 6)</p>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.SignUp.label.password_confirm' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" formControlName="password_confirm"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}"
                    class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-800"
                    type="password" placeholder="**********" autocomplete="new-password" #inputPasswordConfirm>
                <div class="text-right w-full">
                    <p class="text-gray-500 text-xs italic">{{ inputPasswordConfirm.value?.length  || 0 }}/20 (min 6)
                    </p>
                </div>
            </div>
            <div class="flex w-full">
                <label class="flex items-center">
                    <input formControlName="rememberme" type="checkbox" class="form-checkbox text-gray-700">
                    <p class="text-white text-base ml-2">{{ 'Pages.SignUp.title.accept_terms' | translate }}</p>
                </label>
            </div>
            <div class="pt-3 w-full flex flex-row">
                <button
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled, 'hover:bg-gray-800': signUpFormStatusDisabled}"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mr-2 w-full">
                    {{ 'Pages.SignUp.button.sign_up' | translate }}
                </button>
                <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded shadow w-full"
                    [routerLink]="[ '/auth/sign-in' ]">{{ 'Pages.SignUp.button.sign_in' | translate }}</button>
            </div>
        </form>
    </div>
</div>