<div fxFill fxLayoutAlign="center center" fxFlex="100%">
    <div class="container rounded h-auto bg-gray-900 p-6 flex flex-col justify-center shadow w-2/4"
        [ngClass.xs]="{'w-full': true}">
        <div class="w-full" fxLayoutAlign="center center">
            <img src="../../../../assets/recover-password/change_password.svg" alt="www.akatsukiapp.com" width="280"
                height="280">
        </div>
        <div class="flex flex-col text-center p-3">
            <p class="text-white font-light text-4xl">
                {{ 'Pages.Recover_password.title.not_access_account' | translate }}
            </p>
            <p class="text-white">{{ 'Pages.Recover_password.description.not_access_account' | translate }}</p>
        </div>
        <div *ngIf="errorResetPassword"
            class="bg-red-500 border-t-4 border-red-800 rounded-b text-red-900 px-4 py-3 shadow-md mb-2" role="alert">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-red-800 mr-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                    </svg></div>
                <div>
                    <p class="font-bold">{{ errorResetPasswordTitle }}</p>
                    <p class="text-sm">{{ errorResetPasswordDescription }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="successResetPassword"
            class="bg-teal-500 border-t-4 border-teal-800 rounded-b text-teal-900 px-4 py-3 shadow-md mb-2"
            role="alert">
            <div class="flex">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-800 mr-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                    </svg></div>
                <div>
                    <p class="font-bold">{{ successResetPasswordTitle }}</p>
                    <p class="text-sm">{{ successResetPasswordDescription }}</p>
                </div>
            </div>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="changeUserPassword()" class="w-full">
            <div class="flex flex-row" [ngClass.xs]="{'flex-col': true}">
                <div class="w-full mr-2">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                        {{ 'Pages.Recover_password.label.user_id' | translate }}
                    </label>
                    <input [ngClass]="{'bg-gray-800': resetPasswordFormStatusDisabled}" formControlName="id"
                        [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                    focus:outline-none focus:bg-gray-800" type="text" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXX"
                        #inputName>
                </div>
                <div class="w-full">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                        {{ 'Pages.Recover_password.label.token' | translate }}
                    </label>
                    <input [ngClass]="{'bg-gray-800': resetPasswordFormStatusDisabled}" formControlName="token"
                        [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                    focus:outline-none focus:bg-gray-800" type="text" placeholder="XXXXXXXXXXXX" #inputUsername>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    {{ 'Pages.Recover_password.label.password' | translate }}
                </label>
                <input [ngClass]="{'bg-gray-800': resetPasswordFormStatusDisabled}" formControlName="password"
                    [ngClass]="{'bg-gray-800': signUpFormStatusDisabled}" class="appearance-none block w-full bg-gray-700 text-white rounded py-3 px-4 mb-3 leading-tight
                focus:outline-none focus:bg-gray-800" type="password" placeholder="XXXXXXXXXXXX" #inputUsername>
            </div>
            <H2 class="text-3xl text-white">
                {{ 'Pages.Recover_password.title.important_note' | translate }}
            </H2>
            <p class="text-white text-base">
                {{ 'Pages.Recover_password.description.important_note' | translate }}
            </p>
            <div class="pt-3 w-full flex flex-row" [ngClass.xs]="{'flex-col': true}">
                <button
                    [ngClass]="{'bg-gray-800': resetPasswordFormStatusDisabled, 'hover:bg-gray-800': resetPasswordFormStatusDisabled}"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-900 font-bold py-2 px-4 rounded mr-2 w-full"
                    type="submit">
                    {{ 'Pages.Recover_password.button.change_password' | translate }}
                </button>
                <button class="bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded shadow w-full"
                    [ngClass.xs]="{'mt-2': true}" type="button"
                    (click)="requestChangeUserPassword()">{{ 'Pages.Recover_password.button.request_change_password' | translate }}</button>
            </div>
        </form>
    </div>
</div>